.temporary-work-list{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.temporary-work-list li{
    background-color: #E0D1FF;
    padding: 0.5rem;
    padding-right: 0.7rem;
    border-radius: 15px;
    align-self: center;
}

.temporary-work-list li span{
    margin-left: 1rem;
}

.temporary-work-list div{
    border: 5px solid #E0D1FF;
    padding: 0.5rem;
    border-radius: 15px;
}