.ScheduleManagementSession{
    width: 100%;
    height: auto;
}

.ScheduleMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 3px solid #A87EFF;
    background-color: white;
}

.Main-title{
    width: 100%;
    font-size: 30px;
    text-align: left;
    color: #A87EFF;
    font-weight: bold;
    margin: 30px;
}

.tab_title:active{
    background-color: #A87EFF;
}

.mofification_btn{
    width: 150px;
    font-family: 'twayfly';
}

@media only screen and (min-width: 1200px) {
    .ScheduleTab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .tabs{
        width: 50%;
        list-style: none;
        text-align: center;
        margin: 20px;
    }
    
    .tab_title {
        color: black;
        width: 35%;
        height: 40px;
        border-radius: 20px;
        border: none;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
        margin: 20px;
        align-items: center;
        background-color: #E0D1FF;
        font-family: 'twayfly';
    }
}

@media only screen and (max-width: 1199px){
    .ScheduleTab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .tabs{
        width: 80%;
        list-style: none;
        text-align: center;
        margin: 20px;
    }
    
    .tab_title {
        color: black;
        width: 35%;
        height: 40px;
        border-radius: 20px;
        border: none;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        margin: 20px;
        align-items: center;
        background-color: #E0D1FF;
        font-family: 'twayfly';
    }

}